@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  html {
    color-scheme: dark;
    @apply font-sans ;
  }

  body {
    @apply antialiased font-sans bg-gray-950 text-white;
  }

  h1 {
    @apply font-serif text-3xl font-bold;
  }

  h2 {
    @apply font-serif text-2xl ;
  }

  .post-content h1 {
    @apply text-5xl;
  }

  .post-content h2 {
    @apply text-3xl mb-4 mt-8;
  }

  .post-content p {
    @apply text-base leading-7 text-gray-300;
  }

  .post-content ul{
    @apply list-disc list-inside my-4;
  }
}

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(120,120,120,0.4) transparent;
  }

  /* Chrome, Edge, Safari */
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba(120,120,120,0.4);
    border-radius: 9999px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: rgba(120,120,120,0.6);
  }

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 0,
  'opsz' 48
}