@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  html {
    overflow-y: scroll;
    color-scheme: light;
   
    @apply font-sans ;
  }



  body {
    @apply antialiased font-sans bg-black text-white;
  }

  h1 {
    @apply font-serif text-3xl font-bold;
  }

  h2 {
    @apply text-2xl font-serif;
  }

}