---
import { getCollection } from "astro:content";
import '../styles/global.css';
import PageLayout from '../layouts/PageLayout.astro';
import PostCart from "../components/PostCart.astro";
import Nav from "../components/Nav.astro"

const posts = await getCollection("posts", ({ data }) => {
  return data.draft !== true;
});

// sort posts by date descending
posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<PageLayout title="Home">
  <div class="flex min-h-screen">
    <Nav />

    <div>
      <div class="mb-12">
        <h2 class="text-4xl font-semibold mb-4">Recent Posts</h2>
      </div>
      <div class="flex flow max-w-xl gap-3">
        {posts.map((post) => (
          <PostCart  
          title={post.data.title}
          date={post.data.date}
          slug={post.slug}
          tags={post.data.tags} />
        ))}
      </div>
    </div>
  </div>
</PageLayout>