---
import { cn } from "../lib/utilits"

type Props = {
  size: "sm" | "md" | "lg" | "xl" | "2xl"
}

const { size } = Astro.props;
---

<section class={ cn(
  "w-full max-w-6xl",
  size === "sm" && "max-w-screen-sm",
  size === "md" && "max-w-screen-md",
  size === "lg" && "max-w-screen-lg",
  size === "xl" && "max-w-screen-xl",
  size === "2xl" && "max-w-screen-2xl",
)}>
  <slot/>
</section>