---
import Container from "./Container.astro";
import IconButton from "./IconButton.astro";
---
<Container size="2xl">
  <header
    id="header"
    class="fixed top-0 w-full max-w-7xl h-18 z-50 py-4
          backdrop-blur-lg
          bg-gray-950/80
          rounded-xl 
          border-white/20
          shadow-sm"
  >
  
      <div class="flex h-18 items-center justify-between">
        <a href={`${import.meta.env.BASE_URL}`} class="flex items-center gap-2">
          <img
            src={`${import.meta.env.BASE_URL}/logo.svg`}
            alt="Dev Notes"
            class="h-8 w-auto"
          />
        </a>

        <div class="flex gap-5 items-center ">
          
            <IconButton
            icon="identity_platform"
            href="https://github.com/mkotkov"
          />

          <IconButton
            icon="folder_data"
            href="https://github.com/mkotkov/dev-notes"
          />   

          <IconButton
            icon="mode_comment"
            href="https://github.com/mkotkov/dev-notes/discussions"
          />

        </div>

      </div>
  </header>
</Container>