---
import { CATEGORIES } from "@constants"
---
<aside class="max-40 w-80 mr-8">
      <nav class="space-y-2 border rounded-xl p-4 ">
        {CATEGORIES.map((category) => {
          return (
            <div
              class="flex items-center space-x-3 hover:bg-gray-800 rounded cursor-pointer p-2"
              data-category={category.NAME?.toLowerCase()}
            >
              <span class={`material-symbols-rounded ${category.iconClass ?? "text-3xl"}`}>
                {category.ICON}
              </span>
              <div class="block p-2">{category.NAME}</div>
            </div>
          );
        })}

      </nav>
</aside>