---

---
<aside class="w-64 p-4">
      <nav class="space-y-2">
        <a href="/" class="block p-2 hover:bg-gray-800 rounded">Home</a>
        <a href="/about" class="block p-2 hover:bg-gray-800 rounded">About</a>
        <a href="/posts" class="block p-2 hover:bg-gray-800 rounded">Posts</a>
      </nav>
    </aside>