---
import Container from './Container.astro';

interface Props {
  placeholderText?: string;
}

const { placeholderText = "Search..." } = Astro.props;
---

<Container size="xl">
  <div class=" flex items-center justify-between">
    <input
      id="search"
      type="text"
      placeholder={placeholderText}
      class="w-full placeholder:text-gray-600 bg-gray-950 max-w-md mb-8 p-2 border-b active:rounded-md"
      autocomplete="off"
    />
  </div>
</Container>