---
import "../styles/global.css";

import Header from "@components/Header.astro"
import BaseHead from "@components/BaseHead.astro";
const { title } = Astro.props;

---

<!DOCTYPE html>

<html lang="en">
  
  <head>
    <BaseHead title = {title} />
  </head>
  
  <body class="mx-auto max-w-screen-xl p-5 pb-16 pt-16 mt-16">

    <Header />

    <main>
      <!-- Content goes here -->
      <slot />
    </main>
  
  </body>
</html>